/************ DEBUG ************/

body.debug {
    background-color: black;
}

/* Regola per desktop (se usata da sola: approccio mobile-first) */
@media screen and (min-width: 1024px) {
    body.debug {
        background-color: green;
    }
}

/* Esempio di media query con MIN e MAX (es. tablet) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    body.debug {
        background-color: goldenrod;
    }
}

/* Regola per mobile (se usata da sola: approccio desktop-first) */
@media screen and (max-width: 768px) {
    body.debug {
        background-color: crimson;
    }
}

body.debug .boxed {
    border: dashed 3px black;
}

