/********* ELEMENTI GENERICI *************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body { font-family: 'Open Sans', sans-serif; }

.width100 { width: 100%; }
.height100 { height: 100% ;}
.min-height { min-height: 31.25rem; }
.height250  { height: 250px; }
.height { height: 187.5rem; }

.text-center { text-align: center; }
.line-height { line-height: 1.4; }

h1 { font-size: 5rem; }
h2 { font-size: 2.5rem; }
h3 { font-size: 1.5625rem; } 

/* BG COLOR  */

.bg-blue { background-color: #0084fd; }
.bg-white { background-color: white; }
.bg-softpurple { background-color: #9792e4; }
.bg-softdark { background-color: #333333; }
.bg-azure { background-color: #b5ddff; }

/* COLOR  */

.color-blue { background-color: white; }
.color-softpurple { background-color:  #9792e4; }
.color-gold { background-color: #fdc15f; }
.color-ultrasoftpurple { background-color:  #cfcef2; }
.color-grey { background-color:  #737373; }

/* BOXED  */

.boxed {
    max-width: 71.875rem;
    margin: 0 auto;
    padding: 2rem;
}

/* FLEX  */

.row {
    display: flex;
    flex-wrap: wrap; 
}

/* LINK  */

.a-noline {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

a:hover { 
    opacity: 0.8; 
    transition: scale(2);
}

/* BUTTON  */

.btn-blue {
    background-color: #0061ff;
    border: none;
    color: white;
    padding: .9375rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: .25rem .125rem;
    cursor: pointer;
}

.btn-blue:hover { background: linear-gradient(90deg, rgba(0,97,255) 0%, rgba(0,60,255) 100%); }

.btn-blue:active { transform: translate(0em, 0.2em); }

ul { list-style-type: none; }

p { line-height: 1,4;}

img { width: 50% }

.img-rounded { border-radius: 50%; }

.pa-2rem { padding: 2rem; }

.margin-0-auto { margin: 0 auto; }

.card {
    text-align: center;
}

.big-col,
.col  ,
.col1 ,
.col2 ,
.col3 ,
.col4 { 
    padding: .9375rem;
    width: 100%;
    border-radius: 5%;
    margin-bottom: 2rem;
}


/*************************/  
/******* HEADER **********/ 

header {
    height: 5rem;
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: -5.5px 8.5px 8.5px -3.5px #dddddd;
    z-index: 100;
}

nav { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    display: flex;
    align-items: center;
}

.link-nav {
    display: flex;
    align-items: center;
}

.link-nav li {
    padding-right: .9375rem;
}

/*************************/  
/*******  MAIN  **********/ 

/* HERO SCETION  */

.big-card { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* SECTION 2 */

/* SECTION 3 */

/* SECTION 4 */ 


/*************************/  
/******* MEDIA QUERY **********/ 


/* media query smartphone max 600px  */

@media screen and (max-width: 47.9375rem) {
    .link-nav {
        display: none;
    }
}

/* MEDIA QUERY tablet 768px */

@media screen and (min-width: 48rem) {
    
    .link-nav {
        display: block;
        display: flex;
        align-items: center;
    }

    .hamburger {
        display: none;
    }

    .col1 {
        width: 30%;
    }

    .big-col{
        width: 62%;
    }

    .col2 {
        width: 45%;
    }

    .col3 {
        width: 65%;
    }

    .col4 {
        width: 30%;
    }

    .row {
        justify-content: space-evenly;
    }
}


/* MEDIA QUERY Desktop 992PX  */

@media screen and (min-width: 62rem) {

}
    